._bg {
  background-image: url(/assets/static/images/8a9261397d68172763c3ff00d245b809.jpg);
  background-color: #fff;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.pos-a {
  mat-icon{
    font-size: 48px;
    color: #333;
    width: 96px;
    height: 96px;
    background-color: yellow;
    line-height: 1;
    vertical-align: middle;
    padding: 24px;
    border-radius: 100%;
  }
}

.form-wrp {
  min-width: 300px;
}

mat-form-field {
  display: block;
}
